name: Actions Workflow

on: 
  push:
  issues:
    types: [opened, closed]
  schedule:
    - cron: '*/5 * * * *'
 

jobs:
  run-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: List Files
        run: |
         pwd
         ls -a
         echo "Hello ${{ github.event.inputs.name }}!"